# Arquivos de build
.pio/
target/
.pio/
*.o
*.exe
*.elf
*.bin
__pycache__/
*.pyc
.env
Cargo.lock
.vscode/settings.json
.idea/
*.swp
.DS_Store
*.log
venv/
.pytest_cache/
*.egg-info/
dist/
*.db
*.sqlite
*.sqlite3
node_modules/
.env.local
.env.development
.env.production
